/* Type your code here */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px 90px;
  overflow-x: hidden;
  background: url(https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/cricpro-bg.png);
  background-size: 100% 100%;
  width: 100vw;
  height: 125vh;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  }
  #logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  h1{
    font-size: 60px;
    font-weight: 700;
    text-shadow: 2px 2px rgba(0, 0, 0, .2); 
  }

  h3{
    color: #696969;
    font-size: 24px;
  }

  span{
    font-size: 20px;
  }

  .header {
    margin-top: 25px;
    width: 1000px;
    background-color: #DD4A2F;
    color: white;
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .container{
    width: 1000px;
    font-size: 20px;
    border-spacing: 0px;
  }
  thead tr{
    color: rgb(18, 17, 17);
    text-align: left;
    border-bottom: 1px solid rgb(226, 224, 224);
  }

  td, th{
    border: 2px solid white;
    border-bottom: 1px solid #BFBFBF;
    background-color: white;
}

  td{
    padding: 10px;
  }
  tbody tr{
    border-bottom: 1px solid rgb(226, 224, 224);
  }

  .left{
    text-align: left;
  }

  .center{
    text-align: center;
  }

  .right{
    text-align: right;
  }

  .color{
    color: #838383;
  }
  .name{
    color: blue;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  .photo{
    position: absolute;
    display: none;
    width: 440px;
  }

  .footer {
    margin-top: 40px;
    font-size: 18px;
  }

  /* Positing Image after click */
.photo{
  position: absolute;
  display: none;
  width: 440px;
}

.js_left{
  left: 130px
}

.js_top{
  top: 685px;
}

#sehwag_photo{
  top: 300px;
}

#sachin_photo{
  top: 345px;
}

#gambhir_photo{
  top: 390px;
}

#kohli_photo{
  top: 435px;
}

#dhoni_photo{
  top: 480px;
}

#yuvraj_photo{
  top: 525px;
}

#raina_photo{
  left: 340px;
}

#bhajan_photo{
  left: 470px;
}

#khan_photo{
  left: 630px;
}

#patel_photo{
  left: 740px;
}

#shanth_photo{
  left: 850px;
}